<!doctype html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/blog.css"/>
</head>
<body>
<div class="head"></div>
<div class="note">
  <div class="title"><a href="/note/first">first</a></div>
  <div class="date">04/11/1979</div>
  <div class="body">first content</div>
</div>

<div class="note">
  <div class="title"><a href="/note/second">second</a></div>
  <div class="date">04/11/1979</div>
  <div class="body">second content</div>
  <div class="tags"><div class="tag">саптрю</div><div class="tag">слушаю</div></div>
</div>
<div class="paging"><a href="/page/2">next</a></div>
<div class="footer">&copy;&nbsp;</div>
</body>
</html>
